.body {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #ffca1f;
}

.linki {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img {
  width: 40px;
  height: 40px;
}
