.body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 570px;
  width: 100%;
}

.pupularne {
  height: 160px;
  width: 100%;
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.element {
  text-decoration: none;
  color: black;
  width: 15%;
  height: 100px;
  background-color: white;
  background-image: url(foodExample.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.elementText {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: hsla(0, 0%, 89%, 0.7);
}
